<h1>新增履歷</h1>

<%= form_for(@resume) do |form| %>


    <%= form.label:name %>
    <%= form.text_field :name %>
    <%= form.label:email %>
    <%= form.email_field :email %>
    <%= form.label:tel %>
    <%= form.telephone_field :tel %>

<%= form.submit%>

<%end%>